/* .BgImg{
    background-image: url(../../../public/img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh);
}

.BgImg::before{  
    content: "";
    background: rgba(0, 0, 0, 0.5);
    display: block;
    height: calc(100vh);
} */